.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.page {
    flex: 1;
    overflow-y: auto;
    height: 100%;
}

.windowBtn {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 38px;
}

.windowBtn:hover {
    background-color: var(--accent-3);
}

.windowCloseBtn:hover {
    background-color: var(--red-3);
}

.headerContainer {
    position: relative;
    border-bottom: 1px solid var(--gray-5);
    margin-bottom: -1px;
    -webkit-user-select: none;
}

.canDrag {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.cannotDrag {
    -webkit-app-region: no-drag;
}

.title {
    font-size: 1.4rem;
    margin: .5rem 1rem;
}

.content {
    margin: .5rem 1rem;
    margin-top: 0;
}